{% extends './base_template.html' %}

{% block content %}
<style tyle="javascript/css">
  .canvasjs-chart-tooltip{
    right: auto !important;
    left: 20px !important;
    top: 10px !important;
    bottom: auto !important;
  }
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }


  .form-inline button:hover {
    background-color: royalblue;
  }

  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }

    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
</style>

<div class="container" style="margin:auto; margin-top:10px;">
<h2>Analyze and Compare your expenditures</h2>
{{allData}}
<div>
  <div>
  <h6>Categories</h6>
  <div class="row" style="padding:10px;">
    <form class="form-inline">
    <select multiple name="category[]" id="cat" onChange="updateGraph()">
      <option value="0">Food</option>
      <option value="1">Travel</option>
      <option value="2">Groceries</option>
      <option value="3">Electronics</option>
      <option value="4">Clothing and Footwear</option>
      <option value="5">Household</option>
      <option value="6">Others</option>
      <option value="7" selected>Total</option>
    </select> &nbsp; &nbsp;
    <label for="from">  From: </label>
    <input type="date" class="form-control" name="from"></input>
    <label for="to"> To: </label>
    <input type="date" class="form-control" name="to"></input>
    <button type="submit" class="btn btn-primary" name="submit">Submit</Button>
    </form>
  </div>
  <div id="graph" class="row" style="margin:auto; height:500px; width:90%"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
</div>

</div>

<script>
  var catg=document.getElementById('cat');
  window.onload(updateGraph())
function updateGraph() {

var chart = new CanvasJS.Chart("graph", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Expenses"
	},
	axisY:{
		includeZero: true,
	},
  axisX:{
    interval: 1,
  },
  toolTip:{
    enabled: true,
  },
  legend: {
       horizontalAlign: "right",
       verticalAlign: "center",
     },
	data: [{
		type: "line",
    name: "Food",
    showInLegend: true,
    visible: document.getElementById('cat')[0].selected,
  	dataPoints:
        {{ food | safe}}
	},
  {
		type: "line",
    name: "Travel",
    showInLegend: true,
    visible: document.getElementById('cat')[1].selected,
		dataPoints:
    {{ travel | safe }}
	},
  {
		type: "line",
    name: "Groceries",
    showInLegend: true,
    visible: document.getElementById('cat')[2].selected,
		dataPoints:
    {{ Groceries | safe }}
	},
  {
		type: "line",
    name: "Electronics",
    showInLegend: true,
    visible: document.getElementById('cat')[3].selected,
		dataPoints:
    {{ Electronics | safe }}
	},
  {
		type: "line",
    name: "Clothing",
    showInLegend: true,
    visible: document.getElementById('cat')[4].selected,
		dataPoints:
    {{ Clothing | safe }}
	},
  {
		type: "line",
    name: "Household",
    showInLegend: true,
    visible: document.getElementById('cat')[5].selected,
		dataPoints:
    {{ Household | safe }}
	},
  {
		type: "line",
    name: "Others",
    showInLegend: true,
    visible: document.getElementById('cat')[6].selected,
		dataPoints:
    {{ Other | safe }}
	},
  {
		type: "line",
    name: "Total",
    showInLegend: true,
    visible: document.getElementById('cat')[7].selected,
		dataPoints:
    {{ all | safe }}
	}]
  });
chart.render();

}
</script>
{% endblock %}
